 /* set the CSS */

 body { /*font: 12px Arial;*/}


 .section-title{
   margin: 15 0px 15px 0px;
 }
 
 .section-title > p {
   font: 25px Arial;
   font-weight: bold;
   text-align: center;
 }
 
 
 .live-indicator {
   text-align: center;
 }
 
 .btn {
   font: 20px Arial;
   font-weight: bold;
   border: None;
   padding: 8px;
   font-size: 16px;
   pointer-events: none;
   display: inline-block;
   width: 150px;
 
 }
 
 .btn > p {
   margin-top: 15px;
 }
 
 .btn-confirmed {
   color: rgb(229, 62, 62);
   background-color: rgb(254, 215, 215);
 }
 
 .btn-recovered {
   color: rgb(56, 161, 105);
   background-color: rgb(198, 246, 213);
 }
 
 .btn-deaths {
   color: rgb(113, 128, 150);
   background-color: rgb(226, 232, 240);
 }
 
 .btn-currentConfirmedCount {
   color: rgb(103, 157, 243);
   background-color: rgb(211, 249, 250);
 }
 
 path {
   stroke: steelblue;
   stroke-width: 2;
   fill: none;
 }
 
 .axis path,
 .axis line {
   fill: none;
   stroke: grey;
   stroke-width: 1;
   shape-rendering: crispEdges;
 }
 
 
 .pure-table {
    border-collapse: collapse;
    
    border-spacing: 5;
    empty-cells: show;
    border: 1px solid #cbcbcb;
    table-layout: fixed;
    text-align: center;
    margin-left: 50px;
    height: 50px;
    
}
 
.pure-table caption {
    color: #000;
    font: italic 85%/1 arial,sans-serif;
    padding: 1em 0;
    text-align: center;
}
 
.pure-table td,.pure-table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: .5em 1em;
    text-align: center;
}


.pure-table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: center;
}
 
.pure-table td {
    background-color: transparent;
    text-align: center;
}
 
.pure-table-odd td {
    background-color: #f2f2f2;
    text-align: center;
}


.world_chart {
    margin-left: 50px;
}