{% extends 'bootstrap/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet"  type="text/css" href="static/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"> -->
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Coronavirus (2019-nCov)</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Overview</a></li>
                    <li><a href="{{ url_for('detailed') }}">Details</a></li>
                    <li><a href="https://www.cdc.gov/coronavirus/2019-nCoV/index.html" target="_blank">CDC</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}