{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div>
        Update at {{time}}
    </div>
    <br>
    <div class="row section-title">
        <p>Real-time COVID-19 Data</p>
    </div>
    <br>
    <br>
    <div class="row section-live-indicator">
        <div class="col-md-offset-2 col-md-2 live-indicator">
            <button class="btn btn-confirmed">
                <p id="number-confirmed">{{ confirmedCount }}</p>
                <p>Confirmed</p>
            </button>
        </div>
        <div class="col-md-2 live-indicator">
            <button class="btn btn-currentConfirmedCount">
                <p id="number-currentConfirmedCount">{{ currentConfirmedCount }}</p>
                <p>currentConfirmed</p>
            </button>
        </div>
        <div class="col-md-2 live-indicator">
            <button class="btn btn-recovered">
                <p id="number-recovered">{{ curedCount }}</p>
                <p>Recovered</p>
            </button>
        </div>
        <div class="col-md-2 live-indicator">
            <button class="btn btn-deaths">
                <p id="number-deaths">{{ deadCount }}</p>
                <p>Deaths</p>
            </button>
        </div>
    </div>
    <br><br>
  
    <table class="pure-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Country Name</th>
                <th>confirmedIncr</th>
                <th>confirmedCount</th>
                <th>currentConfirmedCount</th>
                <th>curedIncr</th>
                <th>curedCount</th>
                <th>deadIncr</th>
                <th>deadCount</th>
                <th>deadRate</th>
            </tr>
        </thead>
    
        <tbody>
            <!-- <tr class="pure-table-odd">
                <td>1</td>
                <td>Honda</td>
                <td>Accord</td>
                <td>2009</td>
            </tr>
    
            <tr>
                <td>2</td>
                <td>Toyota</td>
                <td>Camry</td>
                <td>2012</td>
            </tr>-->
        </tbody>
    </table>
    
    
   
    <div class="row section-timestamp">
        <p class="timestamp-virus"></p>
    </div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
    var datas = {{datas|tojson}};
    datas = JSON.parse(datas)
    var tbody = document.querySelector('tbody');
    
    var c = 0;
    for (var i = 0; i < datas.length; i++) {
        
        var tr = document.createElement('tr');
        if (c % 2 == 1){
            tr.setAttribute("class", "pure-table-odd");
        }
        c = c + 1;
        tbody.appendChild(tr); 
        var td = document.createElement('td');
        td.innerHTML = i + 1;
        tr.appendChild(td);

        for (var k in datas[i]) {
            var td = document.createElement('td')
            td.innerHTML = datas[i][k];
            tr.appendChild(td); 
        }
    }
    </script>
{% endblock %}
