{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div>
        Update at {{time}}
    </div>
    <br>
    <div class="row section-title">
        <p>Real-time COVID-19 Data</p>
    </div>
    <br>
    <br>
    <div class="row section-live-indicator">
        <div class="col-md-offset-2 col-md-2 live-indicator">
            <button class="btn btn-confirmed">
                <p id="number-confirmed">{{ confirmedCount }}</p>
                <p>Confirmed</p>
            </button>
        </div>
        <div class="col-md-2 live-indicator">
            <button class="btn btn-currentConfirmedCount">
                <p id="number-currentConfirmedCount">{{ currentConfirmedCount }}</p>
                <p>currentConfirmed</p>
            </button>
        </div>
        <div class="col-md-2 live-indicator">
            <button class="btn btn-recovered">
                <p id="number-recovered">{{ curedCount }}</p>
                <p>Recovered</p>
            </button>
        </div>
        <div class="col-md-2 live-indicator">
            <button class="btn btn-deaths">
                <p id="number-deaths">{{ deadCount }}</p>
                <p>Deaths</p>
            </button>
        </div>
    </div>
    <br><br>
    <figure class="world_chart">
		<embed type="image/svg+xml" src="/world_chart" />
    </figure>
    <br><br>
    <figure class="world_curve">
		<embed type="image/svg+xml" src="/world_curve" />
    </figure>
    <br><br>
    <p style="font-family:arial;font-size:40px;text-align:center">
        <a href="/detailed">
            Each country's data. (data in table)
        </a>
    </p>

    <div class="row section-timestamp">
        <p class="timestamp-virus"></p>
    </div>
{% endblock %}

{% block scripts %}
{{super()}}
<!-- {% if refresh_time %}
<script>var intervalRefresh = {{ refresh_time }};</script>
{% else %}
<script>var intervalRefresh = 60;</script>
{% endif %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script src="{{url_for('.static', filename='custom.js')}}"></script> -->
{% endblock %}
